{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>




    <div align="center">

        <h1> Bienvenue sur notre site Solway cs</h1>


        <h2 align="justify"></h2>

        <h3 align="justify"> SolDesk est un outil de gestion des tickets qui a pour but de gérer
            le flux des demandes de correction ou d’évolution de nos clients. Ces demandes peuvent concerner la TMA ou
            nos outils internes comme VERIF’DSN, VERIF’DSN PLUS ou SOLWAY Synchronisation HR.. </h3>

    </div>

    <style>
        .aut {
            align-content: center;
            background-color: cyan;
            border: 2px solid black;
            font-style: italic;
            font-weight: bold;
            text-shadow: 6px 6px 6px black;
            float: left;
            bottom: 0;

            width: 40%;
            height: 20%;
        }
    </style>
    <div class="aut">
        <h5> Auteurs du site </h5>

        <h1> Diakarou Sokhona</h1> <br/>

    </div>
{% endblock %}
