{% extends 'base.html.twig' %}


{% block body %}

    <h1> Creation d'un ticket </h1>
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">
        {% if textBoutton %}
            Valider les modification
        {% else %}
            Enregistrer
        {% endif %}
    </button>

    {{ form_end(form) }}
{% endblock %}