<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle statut</title>
</head>
<body>
<p>votre statut a été change</p>
</body>
</html>